@charset "UTF-8";
/*variables polices*/
/*variables couleurs*/
.restaurants, .container_nav {
  padding: 25px 20px;
}

.restaurants h2, .container_nav ul > li, .container_nav h2 {
  padding: 20px 0;
}

footer .content_credit p, footer h1 {
  padding: 0 0 10px 0;
}

@keyframes main-container {
  0% {
    transform: translateY(-9999px);
    z-index: 99;
  }
  100% {
    transform: translateY(0);
    z-index: 0;
  }
}
@keyframes menu {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
    animation-timing-function: cubic-bezier(0.73, 0.01, 0.2, 0.99);
  }
}
@keyframes check-rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes right {
  0% {
    transform: translate(-15px);
    opacity: 1;
  }
  50% {
    transform: translate(15px);
    opacity: 1;
  }
  100% {
    transform: translate(-15px);
    opacity: 0;
  }
}
@keyframes left {
  0% {
    transform: translate(15px);
  }
  50% {
    transform: translate(-15px);
  }
  100% {
    transform: translate(15px);
  }
}
/*@keyframes shine {
	100% {
		left: 125%;
	}
}*/
/*@keyframes slide {
    0% {
        left: 0;
        display: none;
        background: white;
    }
    10% {
        left: 10%;
        display: flex;
        background: $clr-tertiaire;
    }
    50% {
        left: 50%;
        display: flex;
        background: $clr-tertiaire;
    }
    100% {
        left: 100%;
        display: flex;
        background: $clr-tertiaire;
    }
}*/
* {
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Shrikhand", serif, sans-serif;
  margin: 0;
}

.bloc_page {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-family: "Shrikhand";
  /*titre footer*/
}

p {
  font-family: "Roboto";
}

.header {
  display: flex;
  justify-content: center;
  padding: 20px;
  box-shadow: 0px 10px 15px -15px gray;
  position: relative;
}
.header img {
  width: 190px;
}
@media screen and (min-width: 480px) {
  .header img {
    width: 250px;
  }
}

.location {
  background: #eaeaea;
}
.location__icon {
  content: "";
  display: flex;
  justify-content: center;
}
.location .fas.fa-map-marker-alt {
  padding: 24px 5px;
  font-size: 13px;
}
.location p {
  font-weight: bold;
  font-size: 1.2rem;
  padding: 19px;
}

.titre_principal {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 25px;
  background: #f6f6f6;
}
.titre_principal h2 {
  font-size: 1.5rem;
  padding: 20px 40px;
  text-align: center;
}
.titre_principal h3 {
  text-align: center;
  font-weight: normal;
  font-size: 1.2rem;
  padding: 10px 0;
}
.titre_principal .btn {
  margin: 20px;
  font-size: 1.3rem;
  color: white;
  padding: 0.85rem 1.5rem;
  border-radius: 10rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  box-shadow: 3px 5px 5px #0000005e;
  transform: scale(1);
  transition: 0.4s ease-in-out;
}
.titre_principal .btn:hover {
  box-shadow: 3px 5px 5px #00000021;
  transform: scale(1.1);
  opacity: 0.9;
  background: linear-gradient(199deg, #FF79DA, #9356DC);
  font-weight: bold;
}

.container_nav {
  animation: menu 3s forwards ease;
}
@media screen and (min-width: 480px) {
  .container_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    margin-bottom: 30px;
  }
}
.container_nav .nav {
  transform-origin: 100% 0%;
  position: relative;
  animation: menu 3s forwards ease;
  animation-delay: 1.5s;
  opacity: 0;
  width: 98%;
}
@media screen and (min-width: 480px) {
  .container_nav .nav {
    margin-top: 25px;
  }
}
@media screen and (min-width: 480px) {
  .container_nav .nav ul {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
  }
}
.container_nav .nav ul > .nav__link {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .container_nav .nav ul > .nav__link {
    display: flex;
  }
}
.container_nav ul > li {
  list-style-type: none;
  display: flex;
  width: 99%;
}
@media screen and (min-width: 480px) {
  .container_nav ul > li {
    min-width: 25%;
    max-width: 30%;
  }
}
.container_nav ul > li span {
  border-radius: 1rem;
  background: #9356DC;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
  right: -10px;
  flex-shrink: 0;
}
.container_nav ul > li div {
  cursor: pointer;
  display: flex;
  align-items: baseline;
  border-radius: 1rem;
  background: #f6f6f6;
  padding: 25px 0;
  width: 100%;
  box-shadow: 5px 10px 3px lightgray;
  transition: all 0.4s ease-in-out;
}
@media screen and (min-width: 480px) {
  .container_nav ul > li div {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.container_nav ul > li div:hover {
  background: #E299D3AD;
  box-shadow: 3px 5px 5px #0000004f;
  opacity: 0.8;
}
.container_nav ul > li div .fa-mobile-alt {
  color: #7e7e7e;
  font-size: 17px;
  margin-left: 60px;
}
@media screen and (min-width: 480px) {
  .container_nav ul > li div .fa-mobile-alt {
    margin: 0;
  }
}
.container_nav ul > li div .fa-mobile-alt:hover {
  color: #9356DC;
}
.container_nav ul > li div strong {
  margin-left: 35px;
}
.container_nav .nav--item .fa-list-ul {
  color: #7e7e7e;
  font-size: 16px;
  margin-left: 58px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 480px) {
  .container_nav .nav--item .fa-list-ul {
    margin: 0;
  }
}
.container_nav .nav--item strong {
  margin-left: 30px;
}
.container_nav .nav--active .fa-store {
  color: #9356DC;
  margin-left: 55px;
  display: flex;
}
@media screen and (min-width: 480px) {
  .container_nav .nav--active .fa-store {
    margin: 0;
  }
}
.container_nav .nav--active strong {
  margin-left: 30px;
}

.restaurants {
  background: #f6f6f6;
}
@media screen and (min-width: 480px) {
  .restaurants h2 {
    text-align: center;
  }
}
@media screen and (min-width: 480px) {
  .restaurants .restaurants__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    padding: 20px;
  }
}
.restaurants .restaurants__list .cards {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 3px 5px 5px #0000005e;
  height: 260px;
}
.restaurants .restaurants__list .cards:hover {
  box-shadow: 3px 5px 5px #00000087;
}
.restaurants .restaurants__list .cards .restaurant__list--card {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: end;
}
.restaurants .restaurants__list .cards .restaurant__list--card::after {
  content: "";
  clear: both;
  display: block;
}
.restaurants .restaurants__list .cards .restaurant__list--card::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  transition: 0.4s ease-in-out;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  transform: skewX(-25deg);
}
.restaurants .restaurants__list .cards .restaurant__list--card::before:hover::before {
  animation: shine 0.75s;
  animation-delay: shine 0.8s;
}
.restaurants .restaurants__list .cards .restaurant__list--card .new--content {
  z-index: 1;
  display: flex;
  position: absolute;
  margin: 10px 20px 0 0;
  border-radius: 2px;
  background: #99e2d0;
}
.restaurants .restaurants__list .cards .restaurant__list--card .new--content span {
  padding: 5px 10px;
  color: #008766;
  font-weight: bold;
  font-size: 0.9rem;
}
.restaurants .restaurants__list .cards .restaurant__list--card img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  height: 200px;
  object-fit: cover;
  transform: scale(1);
  transition: 0.4s ease-in-out;
}
.restaurants .restaurants__list .cards .restaurant__list--card img:hover {
  transform: scale(1.2);
  border-radius: 6rem 6rem 0 0;
}
.restaurants .restaurants__list .restaurant__list--card--legende {
  height: 50px;
  padding: 5px 10px;
}
.restaurants .restaurants__list p {
  margin-top: 5px;
}
.restaurants .restaurants__list .like {
  display: flex;
  justify-content: flex-end;
  margin: -40px 15px;
}
.restaurants .restaurants__list .like .far {
  font-size: 25px;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
.restaurants .restaurants__list .like .far:hover {
  transition: all 0.8s ease-in-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  background-image: linear-gradient(175deg, #9356DC, #FF79DA);
}

footer {
  background: #353535;
  padding: 20px;
}
@media screen and (min-width: 480px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 15px;
  }
}
footer h1 {
  color: white;
  font-weight: lighter;
  font-size: 1.5rem;
}
@media screen and (min-width: 480px) {
  footer h1 {
    font-size: 3.3rem;
    height: 75px;
  }
}
footer .content_credit p {
  color: white;
  transform: scale(1);
  transition: all 0.3s ease;
}
@media screen and (min-width: 480px) {
  footer .content_credit p {
    font-size: 1.3rem;
  }
}
footer .content_credit p:hover {
  color: #99E2D0;
  transform: scale(1.05);
}
@media screen and (min-width: 480px) {
  footer .content_credit p:hover {
    transform: translateX(-10px);
  }
}
footer .content_credit p .fa-utensils {
  font-size: 17px;
  padding-right: 15px;
}
footer .content_credit p .fa-hands-helping {
  font-size: 14px;
  padding-right: 10px;
}
footer a {
  color: white;
}
footer a:hover {
  color: #99E2D0;
}

/*variables pour Loader*/
.bloc_page {
  animation: main-container 0ms 1800ms both;
  width: 100%;
  height: 100%;
  background: white;
}

.container--loader {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 10px;
  height: 10px;
  font-size: 20px;
  font-weight: bold;
  margin: 10px auto;
  border-radius: 50px;
}
.box:nth-child(1) {
  color: #35C4F0;
  animation: right 1s infinite ease-in-out;
}
.box:nth-child(2) {
  color: #35C4F0;
  animation: left 1.1s infinite ease-in-out;
}
.box:nth-child(3) {
  color: #35C4F0;
  animation: right 1.05s infinite ease-in-out;
}
.box:nth-child(4) {
  color: #35C4F0;
  animation: left 1.15s infinite ease-in-out;
}
.box:nth-child(5) {
  color: #35C4F0;
  animation: right 1.1s infinite ease-in-out;
}
.box:nth-child(6) {
  color: #35C4F0;
  animation: left 1.05s infinite ease-in-out;
}
.box:nth-child(7) {
  color: #35C4F0;
  animation: right 1.15s infinite ease-in-out;
}

/*--------------------CSS Carte Menu-----------------------------*/
@media screen and (min-width: 480px) {
  .main_container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.main_container .header {
  padding: 15px;
}
.main_container .header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.main_container .header__logo .btn--return {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 15px;
  font-size: 25px;
}
@media screen and (min-width: 480px) {
  .main_container .header__logo .btn--return {
    left: 30px;
    font-size: 30px;
  }
}
.main_container .header__logo .fa-arrow-left {
  transform: scale(1);
  transition: all 0.4s ease-in-out;
}
.main_container .header__logo .fa-arrow-left:hover {
  color: #9356DC;
  transform: scale(1.3);
}
.main_container .header__logo img {
  width: 190px;
}
@media screen and (min-width: 480px) {
  .main_container .header__logo img {
    width: 300px;
    margin-left: -15px;
  }
}

.banniere {
  height: 200px;
}
@media screen and (min-width: 480px) {
  .banniere {
    height: 0px;
    width: 100%;
  }
}
.banniere img {
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 480px) {
  .banniere img {
    height: 100%;
    z-index: -1;
    position: fixed;
  }
}

.main_bloc {
  padding: 20px 15px;
  background: #f6f6f6;
  border-radius: 3rem 3rem 0 0;
  max-width: 480px;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 480px) {
  .main_bloc {
    width: 35%;
    height: 80%;
    margin: 0px 400px;
    background: transparent;
  }
}
.main_bloc .title {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 480px) {
  .main_bloc .title {
    border-radius: 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
    margin: 10px auto;
  }
}
.main_bloc .title h1 {
  font-size: 1.7rem;
  letter-spacing: 0.5px;
  font-weight: lighter;
}
@media screen and (min-width: 480px) {
  .main_bloc .title h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    display: flex;
    align-items: end;
    color: white;
  }
}
.main_bloc .title .fa-heart {
  font-size: 25px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  height: 38px;
}
@media screen and (min-width: 480px) {
  .main_bloc .title .fa-heart {
    color: white;
  }
}
.main_bloc h2 {
  border-bottom: 2px solid #99E2D0;
  margin: 20px 0;
  padding: 5px 0;
  width: 50px;
  text-transform: uppercase;
  font-size: 1rem;
}
@media screen and (min-width: 480px) {
  .main_bloc h2 {
    color: white;
  }
}
.main_bloc .menu {
  margin: 15px 0;
  background: #fff;
  border-radius: 0.8rem;
  box-shadow: 3px 5px 5px #0000005e;
  overflow: hidden;
  height: 70px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.main_bloc .menu:hover {
  box-shadow: 3px 5px 5px #0000004f;
  opacity: 0.8;
}
.main_bloc .menu:hover i {
  animation: check-rotation 0.5s ease-in-out;
}
.main_bloc .menu .menu-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  flex-shrink: 0;
  padding: 0 10px 0 10px;
  transition: 0.5s ease-in-out;
}
.main_bloc .menu .menu-container:hover {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (min-width: 480px) {
  .main_bloc .menu .menu-container:hover {
    width: 85%;
  }
}
.main_bloc .menu .menu-container div {
  width: 78.7%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.main_bloc .menu .menu-container div h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
}
.main_bloc .menu .menu-container div span {
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
}
.main_bloc .menu .menu-container strong {
  right: 10px;
  position: relative;
  transition: 0.5s ease-in-out;
}
.main_bloc .container_check {
  display: flex;
  align-items: center;
  width: 0;
}
.main_bloc .container_check:hover {
  width: 80px;
  transition: all 0.4s ease-in-out;
}
.main_bloc .container_check span {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  height: 70px;
  width: 70px;
  border-radius: 0 15px 15px 0;
  transition: all 0.4s ease-in-out;
}
.main_bloc .container_check span .fa-check-circle {
  width: 80px;
  font-size: 25px;
  color: white;
  display: flex;
  justify-content: center;
}

.cards--entrées {
  overflow: hidden;
  transform-origin: 100% 0%;
  position: relative;
  animation: menu 1.5s forwards ease-in-out;
  opacity: 0;
}

.cards--plats {
  overflow: hidden;
  transform-origin: 100% 0%;
  position: relative;
  animation: menu 1.5s forwards ease-in-out;
  opacity: 0;
  animation-delay: 0.6s;
}
.cards--plats .plat1 .menu-container div > h3 {
  white-space: normal;
}

.cards--desserts {
  overflow: hidden;
  transform-origin: 100% 0%;
  position: relative;
  animation: menu 1.5s forwards ease-in-out;
  opacity: 0;
  animation-delay: 1.1s;
}

.container--btn {
  display: flex;
  justify-content: center;
  padding: 35px;
}
@media screen and (min-width: 480px) {
  .container--btn {
    padding: 25px;
  }
}
.container--btn .btn--purchase {
  font-size: 1.3rem;
  color: white;
  padding: 0.85rem 1.5rem;
  border-radius: 10rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  background: linear-gradient(175deg, #FF79DA, #9356DC);
  box-shadow: 3px 5px 5px #0000005e;
  width: 200px;
  text-align: center;
  transform: scale(1);
  transition: 0.4s ease-in-out;
}
.container--btn .btn--purchase:hover {
  box-shadow: 3px 5px 5px #00000021;
  transform: scale(1.08);
}

/*# sourceMappingURL=style.css.map */
