/*variables polices*/
$cd-txt: "Shrikhand";
$cd-txt2: "Roboto";

/*variables couleurs*/
$clr-primaire:#9356DC ;
$clr-secondaire: #FF79DA;
$clr-tertiaire:#99E2D0;
$clr-background:#f6f6f6;
$clr-icon-nav:#7e7e7e;
$clr-location:#eaeaea;
$clr-footer:#353535;

